<h1>About Us</h1>
<p >
The Hispanic Chamber of Commerce of Wisconsin was incorporated in 1972 as a non-profit business organization. The HCCW creates, expands and diversifies small and Hispanic-owned businesses in Wisconsin with a strong focus in the Milwaukee Metro area. The HCCW provides educational and technical resources, fosters economic exchange between the business and corporate sectors, and promotes a network for political issues, community affairs and opportunities for the Hispanic population and community at large.
</p>