<h2>Contact Us</h2>

HCCW Phone # (414) 643-6963

HCCW Fax# (414) 643-6994

Questions? Email us at hccwtoday@hccw.org

Bid information: bids@hccw.org

Chairman and CEO ~ Jorge Franco

(414) 643-6963 X.101 – gfranco@infc.net

Erica Steele ~ Director of Latino Empowerment

(414) 643-6963 X. 104 – erica@hccw.org

Natalia Bonilla ~ Associate Director of Workforce Development

(414) 643-6963 X. 1000 – nbonilla@hccw.org

Nathan Jones ~ Associate Director of Latino Empowerment

(414) 643-6963 X. 104 – neizan.jones@gmail.com

Israel Cruz ~ Facility Manager

(414) 643-6963 -  icruz@wi.rr.com
