<h1>This Photos </h1>

<p>
  <div>
  <%= image_tag "img02.jpg", style: "border; 39px solid red;", width:"143", height:"143", alt:"", class:"alignleft border" %>
</div>
<div>
  <%= image_tag "img03.jpg", style: "border; 19px solid red;",  width:"143", height:"143", alt:"", class:"alignleft border" %>
</div>
</p>